* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

button, .close {
    cursor: pointer;
}

.close {
    text-align: center;
    padding: 2px;
    margin-right: 10px;
    border-radius: 30%;
    border: 1px solid red;
}




.true {
    text-decoration: line-through;
}